<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CaminhoBaseArquivosTeste" value="\\WIN-DFHUUI1H8H6\GitHub\ONScompiler\Main\Src\ONS.Compiler\ONS.Compiler.Tests" />
    <add key="CaminhoCompletoArquivoTeste_ValidacaoLimites_Aba_S_SE" value="\\WIN-DFHUUI1H8H6\GitHub\ONScompiler\Main\Src\ONS.Compiler\ONS.Compiler.Tests\ValidacaoLimites\Dados\Spreadsheet_Example02_S_SE.csv" />
    <add key="CaminhoCompletoArquivoTeste_ValidacaoLimites_Aba_SUL" value="\\WIN-DFHUUI1H8H6\GitHub\ONScompiler\Main\Src\ONS.Compiler\ONS.Compiler.Tests\ValidacaoLimites\Dados\Spreadsheet_Example02_SUL.csv" />
    <add key="GenerateDifferentAssemblyName" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMaquinaInequacoesService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2562/MaquinaInequacoesService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaquinaInequacoesService" contract="MaquinaInequacoesServiceReference.IMaquinaInequacoesService" name="BasicHttpBinding_IMaquinaInequacoesService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>