<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoBaseArquivosTeste" value="\\WIN-DFHUUI1H8H6\GitHub\ONScompiler\Main\Src\ONS.Compiler\ONS.Compiler.Tests" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMaquinaInequacoesService" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--
            <endpoint address="http://localhost:2562/MaquinaInequacoesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaquinaInequacoesService"
                contract="MaquinaInequacoesServiceReference.IMaquinaInequacoesService"
                name="BasicHttpBinding_IMaquinaInequacoesService" />
          -->
            <endpoint address="http://localhost:8080/MaquinaInequacoes"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaquinaInequacoesService"
                contract="MaquinaInequacoesServiceReference.IMaquinaInequacoesService"
                name="BasicHttpBinding_IMaquinaInequacoesService" />
        
        </client>
    </system.serviceModel>
</configuration>