<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoBaseArquivosTeste" value="\\WIN-DFHUUI1H8H6\GitHub\ONScompiler\Main\Src\ONS.Compiler\ONS.Compiler.UnitTests"/>
    <add key="CaminhoCompletoArquivoTeste" value="\\WIN-DFHUUI1H8H6\GitHub\ONScompiler\Main\Src\ONS.Compiler\ONS.Compiler.UnitTests\ValidacaoLimites\Dados\Spreadsheet_Example02_S_SE.csv"/>
    <add key="GenerateDifferentAssemblyName" value="0"/>
   </appSettings>
</configuration>